In [88]:
import numpy as np
import pandas as pd

In [89]:
# df1 = pd.DataFrame
np.random.seed(101)
myData = np.random.randint(0,101,(4,3))
myData
myIndex = ['CA','NY','AZ','NV']
myColumns = ['Jan','Feb','Mar']

In [ ]:
df1 = pd.DataFrame(data=myData,index=myIndex,columns=myColumns)
df1.info()

In [ ]:
df2 = pd.read_csv('./data/tips.csv')
df2.head()
df2.shape
# df2.info()
# null = df2.isnull()
# null
df2.describe()
df2.describe().transpose()
# df2.info()

COLUMNS

In [ ]:
df2['total_bill']
cols = ['total_bill','tip']
df2[cols]

In [ ]:
# creating a new column 
df2['tip-percentage'] = 100 * df2['tip'] / df2['total_bill']
# a column that already exist will be overwritten 
df2['price_per_person'] = np.round(df2['total_bill'] / df2['size'])
df2.head(4)

In [ ]:
# dropping rows and columns 
df3 = df2.drop(['tip-percentage'],axis=1)
df3.set_index("Payment ID")
# df3.head()
# df3.shape
# df3.iloc[0]

In [ ]:
# selecting multiple rows 
df3.iloc[0:4]
# removing rows 
df3.drop('Sun4608',axis=0)