In [1]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('./data/tips.csv')
df1.head()

Apply method

In [3]:
def lastFour(num):
  return str(num)[-4:]

lastFour(123456789)

'6789'

In [ ]:
df1['last_four'] = df1['CC Number'].apply(lastFour)
df1.head()
df1['total_bill'].mean()

In [ ]:
def yelp(price):
  if price < 10:
    return '$'
  elif price >= 10 and price < 30:
    return '$$'
  else:
    return '$$$'
  
df1['dollar_sign'] = df1['total_bill'].apply(yelp)
df1.tail(10)

Apply with multiple columns

In [ ]:
# lambda expression 
def simple(num):
  return num * 4
simple(6)

lambda num : num * 4
df1['total_bill'].apply(lambda num: num * 4)

In [ ]:
def quality(total_bill,tip):
  if tip/total_bill > 0.15:
    return 'Generous'
  else:
    return 'Other'

# applying the lambda function 
# df1[['total_bill','tip']].apply(lambda df1:quality(df1['total_bill'],df1['tip']),axis=1).head(15)
# vectorizing 
df1['Quality'] = np.vectorize(quality)(df1['total_bill'],df1['tip'])
df1.head()

Statistics

In [ ]:
# df1.describe()
df1.sort_values(['tip','size'],ascending=False)
# index location of min and max value
df1['total_bill'].max()
df1['total_bill'].min()
df1['total_bill'].idxmax()
df1['total_bill'].idxmin()
df1.iloc[df1['total_bill'].idxmax()]

# correlation 
df1.corr()

# count
df1['sex'].value_counts()
# gives you all unique columns or values of that column
df1['day'].unique()
# return the number of unique columns 
df1['day'].nunique()

switching and replacing values

In [ ]:
# df1.head()
df1['sex'].replace('Female','F')
df1['sex'].replace('Male','M')
# replacing multiple values at once 
df1['sex'].replace(['Female','Male'],['F','M'],inplace=True)
df1.head()

In [ ]:
# replacing values using mapping method of dict
myMap = {'Sat':'sa','Sun':'su','Fri':'fr'}
df1['day'].map(myMap).tail(20)

In [ ]:
# duplicated rows
df1.duplicated()
simpleDf = pd.DataFrame([1,2,2],['a','b','c'])
simpleDf.duplicated()
simpleDf.drop_duplicates()
# remove the duplicate

In [ ]:
# between 
btw = df1['total_bill'].between(10,20,inclusive=True)
df1[btw]

In [ ]:
# n larges and n smallest
l = df1.nlargest(10,'tip')
l
s = df1.nsmallest(10,'tip')
s
# the above code is equivalent to the one below
df1.sort_values('tip').iloc[0:10]
# the one below does the reverse 
df1.sort_values('total_bill',ascending=True).iloc[0:10]

# sampling 
# df1.sample(5)
df1.sample(frac=0.1)