___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.nan

In [ ]:
pd.NA

In [ ]:
pd.NaT

In [ ]:
np.nan == np.nan

In [ ]:
np.nan in [np.nan]

In [ ]:
np.nan is np.nan

In [ ]:
pd.NA == pd.NA

-------

## Data

People were asked to score their opinions of actors from a 1-10 scale before and after watching one of their movies. However, some data is missing.

In [ ]:
df = pd.read_csv('./data/movie_scores.csv')
df

## Checking and Selecting for Null Values

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df['first_name']

In [ ]:
df[df['first_name'].notnull()]

In [ ]:
df[(df['pre_movie_score'].isnull()) & df['sex'].notnull()]

## Drop Data

In [ ]:
df

In [ ]:
help(df.dropna)

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=1)

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=4,axis=1)

## Fill Data

In [ ]:
df

In [ ]:
df.fillna("NEW VALUE!")

In [ ]:
df['first_name'].fillna("Empty")

In [ ]:
df['first_name'] = df['first_name'].fillna("Empty")

In [ ]:
df

In [ ]:
df['pre_movie_score'].mean()

In [ ]:
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

In [ ]:
df.fillna(df.mean())

## Filling with Interpolation

Be careful with this technique, you should try to really understand whether or not this is a valid choice for your data. You should also note there are several methods available, the default is a linear method.

Full Docs on this Method:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html

In [ ]:
airline_tix = {'first':100,'business':np.nan,'economy-plus':50,'economy':30}

In [ ]:
ser = pd.Series(airline_tix)

In [ ]:
ser

In [ ]:
ser.interpolate()

In [ ]:
ser.interpolate(method='spline')

In [ ]:
df = pd.DataFrame(ser,columns=['Price'])

In [ ]:
df

In [ ]:
df.interpolate()

In [ ]:
df = df.reset_index()

In [ ]:
df

In [ ]:
df.interpolate(method='spline',order=2)