In [1]:
import numpy as np

In [2]:
myList = [1,2,3,4,5]
# print(type(myList))
type(myList)

list

In [3]:
np.array(myList)
myList

[1, 2, 3, 4, 5]

In [4]:
myArr = np.array([2,4,6,8])
myArr
# type(myArr)

array([2, 4, 6, 8])

In [5]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix[1][1]

5

In [33]:
myArr1 = np.array(matrix)
myArr1
# myArr[1]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
# numbers from 0 to 16 exclusive at the step of 2
arr1 = np.arange(0,16,2)
arr1

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [8]:
zero1 = np.zeros(5)
zero1

array([0., 0., 0., 0., 0.])

In [35]:
zero2 = np.zeros((5,5))
zero2[2][2]

0.0

In [10]:
one1 = np.ones(9)
one1

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [11]:
one2 = np.ones((10,7))
one2

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

In [12]:
# 4 values equally spaced linearly between 0 and 10
lin = np.linspace(0,10,4)
lin

array([ 0.        ,  3.33333333,  6.66666667, 10.        ])

In [13]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [14]:
np.random.rand(1)
# random numbers in the shape 5,8
np.random.rand(5,8)

array([[0.87332467, 0.92895623, 0.55762466, 0.6364489 , 0.13027471,
        0.99270569, 0.47972685, 0.18696126],
       [0.5912219 , 0.38113455, 0.75014838, 0.72975985, 0.8979049 ,
        0.37699061, 0.42536102, 0.61839256],
       [0.88891061, 0.35173037, 0.66650961, 0.40138982, 0.0098551 ,
        0.39856571, 0.70565548, 0.83817693],
       [0.41262477, 0.68669387, 0.43485989, 0.1255106 , 0.75557859,
        0.75230764, 0.10572467, 0.74585973],
       [0.6902914 , 0.09147696, 0.52880852, 0.3843219 , 0.59714813,
        0.0420744 , 0.59686729, 0.38441276]])

In [45]:
# random normal distribution
c = np.random.randn(12)
c.sort()
c

array([-1.42474819, -1.4123037 , -1.15099358, -1.01283112, -0.90802408,
       -0.54438272, -0.2257763 ,  0.0675282 ,  0.11092259,  0.31424733,
        0.37569802,  1.46564877])

In [16]:
# sarting point , end point , size
# random number between 21 and 101 in the shape of 1,7
np.random.randint(21,101,7)
# random number between 11 and 101 in the shape of 5,5
np.random.randint(11,101,(5,5))

array([[35, 72, 18, 93, 89],
       [59, 87, 97, 64, 60],
       [36, 49, 68, 93, 34],
       [82, 38, 26, 77, 84],
       [99, 49, 96, 20, 87]])

In [38]:
np.random.seed(42)
np.random.rand(4)

array([0.37454012, 0.95071431, 0.73199394, 0.59865848])

In [40]:
arr = np.arange(0,11)
# select from 2 to 8 exclusive at a step of 2
arr[2:8:2]

array([2, 4, 6])

In [19]:
arr[1:7:2]
# copying an array
arrCopy = arr.copy()
arrCopy

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

conditional selection

In [41]:
arrTD = np.array([[5,10,15],[20,25,30],[35,40,45]])
arrTD
arrTD[1][2]

30

In [46]:
arrTD.shape
arrTD[0]
# arrTD[rows,columns]
arrTD[:3,1:] # all 3 row, second till 3rd column
# arrTD[:1,2:] # first row, second column

array([[10, 15],
       [25, 30],
       [40, 45]])

In [22]:
bArr = arr > 5
bArr
arr[bArr]

array([ 6,  7,  8,  9, 10])

In [23]:
arr = arr + 5
bArr = arr > 4
arr[bArr]

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [24]:
arrOD = np.array([[0,2,3],[4,5,6],[7,8,9]])
arrM = arrTD * arrOD
arrM
# numpy will give you a division error but will still give you the value and it will replace the zeros with the NAN(Not a Number)

array([[  0,  20,  45],
       [ 80, 125, 180],
       [245, 320, 405]])

In [25]:
arrD = arrTD * arrOD
arrD

array([[  0,  20,  45],
       [ 80, 125, 180],
       [245, 320, 405]])

In [26]:
np.sin(arr)
np.log(arr)
np.tan(arr)

array([  -3.38051501,   -0.29100619,    0.87144798,   -6.79971146,
         -0.45231566,    0.64836083, -225.95084645,   -0.63585993,
          0.46302113,    7.24460662,   -0.8559934 ])

In [27]:
arr.sum()
arr.mean()
arr.std()

3.1622776601683795

In [51]:
arr25 = np.arange(0,25).reshape(5,5)
arr25.sum()
arr25.sum(axis=0) # summing row wise 
arr25.sum(axis=1) # summing column wise

array([ 10,  35,  60,  85, 110])

In [50]:
arr25

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])